:root {
  --theme_blue: #5abce0;
  --theme_blue_accent: #297996;
  --theme_yellow: #f2e696;
  --theme_yellow_accent: #dbc848;
  --theme_black: #121212;
  --theme_white: #efefef;
}

.header {
  height: 160px;
  width: 100%;
  background-color: var(--theme_blue);
}