:root {
  --theme_blue: #5abce0;
  --theme_blue_accent: #297996;
  --theme_yellow: #f2e696;
  --theme_yellow_accent: #dbc848;
  --theme_black: #121212;
  --theme_white: #efefef;
}

.wedding {
  height: 100vh;
  width: 100vw;
  background-color: var(--theme_black);

  .weddingHeader {
    height: 120px;
    width: 100%;
    background-color: var(--theme_blue);
  }

  .tabs {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
  }
}

