:root {
  --theme_blue: #5abce0;
  --theme_blue_accent: #3fadd5;
  --theme_blue_dark: #1e7a9c;
  --theme_yellow: #f2e696;
  --theme_yellow_accent: #dbc848;
  --theme_black: #121212;
  --theme_white: #efefef;
}

.wedding {
  height: 100vh;
  width: 100vw;
  background-color: var(--theme_blue_dark);

  .weddingHeader {
    height: 100px;
    width: 100%;
    background-color: var(--theme_blue);
  }

  .tabs {
    background-color: var(--theme_blue);
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    border: var(--theme_blue_dark) 2px solid;
    height: 40px;
    width: 100%;
    overflow-x: hidden;

    .tabButton {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      border-right: var(--theme_blue_accent) 2px solid;
      height: 32px;
      width: fit-content;
      padding: 4px 12px 4px 12px;
    }

    .tabButtonActive {
      background-color: var(--theme_blue_accent);
    }

    .tabButtonIcon {
        height: 24px;
        width: 24px;
        align-items: center;
        justify-content: center;
      }

      .tabButtonLabel {
        height: 24px;
        width: fit-content;
        align-items: center;
        text-align: center;
        font-size: 18px;
      }
  }
}

