header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #116466;
}

.title-content {
    padding-left: 15px;
    width: 70%;
    float: left;
}

.social-links {
    width: 25%;
    padding-top: 15px;
    padding-right: 15px;
    float: right;
    text-align: right; 
}

.social-links a {
    margin-top: 7px;
}

.fa {
    padding: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #4078c0;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.nav-bar {
    overflow: hidden;
    background-color: #0d4647;
}

.nav-bar a {
    float: left;
    font-size: 16px;
    color:#d1e8e2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.project-drop {
    float: left;
    overflow: hidden;
}

.project-drop .drop-button {
    font-size: 16px;
    border: none;
    outline: none;
    color:#d1e8e2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.nav-bar a:hover, .project-drop:hover .drop-button {
    background-color: #0d4647;
}

.project-list {
    display: none;
    position: absolute;
    background-color: #0d4647;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.project-list a {
    float: none;
    color:#d1e8e2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.project-list a:hover {
    background-color: #116466;
}

.project-drop:hover .project-list {
    display: block;
}

html, body {
    background-color: #2c3531;
    height: 100%;
    margin: 0;
}

.content {
    padding-top: 93px;
    width: 100%;
    color:#d1e8e2;
}

.content h2 {
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-shadow: /* give the text an outline */
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000;
}

.content h3 {
    font-size: 32px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.content h4 {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-shadow: /* give the text an outline */
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000;
}

.content p {
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.con-title {
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

#con-title-ss {
    background-image: url("images/backgrounds/ss.png");
}

#con-title-am {
    background-image: url("images/backgrounds/am.png");
}

#con-title-gc {
    background-image: url("images/backgrounds/gc.png");
}

#con-title-sc {
    background-image: url("images/backgrounds/sc.png");
}

.tech-title {
    margin-bottom: 0px;
}

.con-tech .tech-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.con-tech .tech-list li {
    margin: 10px;
} 

.con-tech .tech-list li img {
    height: 64px;
    width: 64px;
}

.clear {
    clear:both
}

html * {
    font-family: Arial, Helvetica, sans-serif;
}

color-scheme {
    color: #2c3531;
    color: #0d4647;
    color: #116466;
    color: #d9b08c;
    color: #ffcb9a;
    color: #d1e8e2;
}


